<nav class="navbar navbar-expand fixed-top navbar-dark bg-dark justify-content-between">
  <div class="text-light">
    <%= link_to nombre_de_app, root_path, class: 'navbar-brand' %>
    <span class="navbar-text"><%= titulo_de_pagina %></span>
  </div>

  <%# Navegación principal del sitio. %>
  <ul class="navbar-nav">
    <li class="nav-item">
      <%= link_to 'Infracción', tipos_de_infraccion_path, class: 'nav-link' %>
    </li>

    <li class="nav-item">
      <%= link_to 'Expedientes', expedientes_path, class: 'nav-link' %>
    </li>

    <li class="nav-item">
      <%= link_to 'Actas', actas_path, class: 'nav-link' %>
    </li>

    <%= render 'devise/cabecera/session_link' %>
    <%= render 'devise/cabecera/registration_link' %>
  </ul>
</nav>
