<nav id="sidebar">
  <div class="sidebar-header">
    <h3> <%= image_tag 'logov1.png', alt:'SIGI', size:'200x81' %></h3>
  </div>
  <ul class="list-unstyled components">
    <p> </p>
    <li>
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Actas</a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li><%= link_to 'Crear Acta' , new_acta_path %></li>
        <li><%= link_to 'Ver Actas', actas_path %></li>
      </ul>
    </li>

    <li>
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Expedientes</a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li><%= link_to 'Crear Expediente', new_expediente_path %></li>
        <li><%= link_to 'Ver Expedientes', expedientes_path %></li>
      </ul>
    </li>
    <li>

      <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Infracciones</a>
      <ul class="collapse list-unstyled" id="pageSubmenu3" >
        <li><%= link_to 'Agregar Infracción', new_tipo_de_infraccion_path %></li>
        <li><%= link_to 'Ver Infracciones', tipos_de_infraccion_path %></li>
      </ul>
    </li>

    <li><a href="#">Resoluciones</a></li>
    <li><a href="#">Contacto</a></li>
  </ul>
</nav>
